

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


h2.section-headline {
  margin:0px 0 15px 0;
  font-size: 1em;
  padding:0px 15px;
  background-color:#EEE;
}

h1 {
  font-size: 1.5em;
}

div.page-header {
  margin:20px 0 40px 0;
}

h1.page-header-headline {
  font-size:1.2em;
}

div.section {
  margin-bottom:40px;
}

h3.fact-sheet-headline {
  font-size: 1em;
  border-bottom:1px solid #EEE;
}

.affix {
  top:30px;
}

h3.founder-name {
  font-size: 1.1em;
  margin:0px;
}

img.founder-photo {
  float:left;
  margin:0 20px 10px 0;
}










